.game-root {
    -fx-background-color: #235b32;
}

.player-seat {
    -fx-background-color: #2b2b2b;
    -fx-background-radius: 10;
    -fx-border-color: border-color;
    -fx-border-width: 3;
    -fx-border-radius: 10;
}

.game-button {
    -fx-background-color: -poker-button-color;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-padding: 8 16 8 16;
}

.game-button:hover {
    -fx-background-color: -poker-button-hover-color;
}

.card {
    -fx-background-color: linear-gradient(to bottom, #ffffff, #f4f4f4);
    -fx-background-radius: 8;
    -fx-border-color: #111111;
    -fx-border-width: 2;
    -fx-border-radius: 8;
}

.card-top {
    -fx-font-size: 14px; -fx-font-weight: bold;
}

.card-middle {
    -fx-font-size: 34px; -fx-font-weight: bold;
}

.card-bottom {
    -fx-font-size: 14px; -fx-font-weight: bold; -fx-rotate: 180;
}

.card-back {
    -fx-background-color: #1d3f73;
    -fx-background-radius: 5;
    -fx-border-color: white;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

.card-back-text {
    -fx-font-size: 18px; -fx-font-weight: bold;
}

.raise-input {
    -fx-font-size: 16px;
}